<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
  	<insert id="userinsert" parameterType="hashmap" >
<!--    	INSERT INTO USER_INFO(USER_IDX,USER_STNUM,USER_NAME,USER_PWD,USER_MAIL,USER_SUBJECT) -->
<!--   	VALUES((SELECT NVL(MAX(USER_IDX),0) FROM USER_INFO)+1,#{user_stnum},#{user_name},#{user_pwd},#{user_mail},#{user_subject})  -->
	   	INSERT INTO USER(USER_ID,USER_NAME,USER_PWD,USER_PHONE)
	  	 VALUES(#{user_id},#{user_name},#{user_shapwd},#{user_phone}) 
  	</insert>
  	<select id="getUser" parameterType="hashmap" resultType="tree.web.footballeye.vo.UserVo">
  		SELECT * FROM USER WHERE USER_ID=#{user_id_in}
  	</select>
  	
	<update id="changeRegister" parameterType="hashmap" >
		UPDATE USER_INFO SET REGISTER=1 WHERE USER_MAIL=#{user_mail} AND USER_STNUM=#{user_stnum} AND USER_PWD=#{user_pwd}
	</update>
  	
  	<select id="userid"
  			parameterType="hashmap"
  			resultType="tree.web.footballeye.vo.UserVo">
  		SELECT USER_ID
  		FROM  USER
  		WHERE  USER_ID = #{user_id}
  	</select>
  	<select id="userPhone"
  			parameterType="hashmap"
  			resultType="tree.web.footballeye.vo.UserVo">
  		SELECT USER_PHONE
  		FROM  USER
  		WHERE  USER_PHONE = #{user_phone}
  	</select>
  	
  	<insert id="testSubmit" parameterType="hashmap" >
	   	INSERT INTO TEST(TEST_NAME,TEST_AGE,TEST_ADDRESS,TEST_PHONE,TEST_QNA,TEST_TYPE)
	  	 VALUES(#{test_name},#{test_age},#{test_address},#{test_phone},#{test_qna},#{test_type}) 
  	</insert>
  	
<!--   	<update id="userupdate" -->
<!--   			parameterType="hashmap"> -->
<!--   		 UPDATE   USER_INFO  -->
<!-- 		 SET  	 USER_NAME  = #{user_name} -->
<!-- 		  		,USER_PHONE = #{user_phone} -->
<!-- 		  		,USER_MAIL  = #{user_mail} -->
<!-- 		 WHERE   USER_IDX = #{user_idx} -->
<!--   	</update> -->
  	
<!--   	<update id="find_pwd"  -->
<!--   		parameterType="hashmap"> -->
<!--   		UPDATE   USER_INFO  -->
<!--   		SET   USER_PWD = #{user_pwd} -->
<!--   		WHERE USER_ID = #{user_id} -->
<!--   	</update> -->
  	
<!--   	<insert id="userfile" -->
<!--   		parameterType="hashmap" -->
<!--   	> -->
  	
<!--    	INSERT INTO USER_INFO(USER_ID,USER_NAME,USER_PWD,USER_MAIL,COUNTRY,USER_PHONE) -->
<!--   	VALUES(#{user_id},#{user_name},#{user_pwd},#{user_mail},#{country},#{user_phone})  -->
<!--   	</insert> -->
  	
  	
  	
<!--   	<select id="attendanceCheckYn" parameterType="map" resultType="int"> -->
<!--   		SELECT count(*) -->
<!--   		FROM ATTENDANCECHECK -->
<!--   		WHERE USERID = #{userid} -->
<!--   		AND ATTENDANCECHECK_DAY = #{today} -->
<!--   	</select> -->
  	
<!--   	<insert id="attendanceCheck" parameterType="map"> -->
<!--   		INSERT INTO ATTENDANCECHECK(USERID, ATTENDANCECHECK_DAY) VALUES(#{userid}, #{today}) -->
<!--   	</insert> -->
  	
<!--   	<select id="attendanceTag" parameterType="String" resultType="hashmap"> -->
<!--   		SELECT USERID, ATTENDANCECHECK_DAY -->
<!--   		FROM ATTENDANCECHECK -->
<!--   		WHERE USERID = #{userid} -->
<!--   	</select> -->
  	
<!--   	<insert id="savephoto" -->
<!--   		parameterType="hashmap"> -->
<!-- 	   INSERT INTO USER_PHOTO( USER_ID , PHOTO_NAME ,PHOTO_FILEEXT,PHOTO_SFILENAME )  -->
<!--   		 VALUES( #{user_id} , #{photo_name}, #{photo_fileext}, #{photo_sfilename} ) -->
<!--  	</insert> -->
  	
<!--   	<select id="getphoto" -->
<!--   				parameterType="hashmap" -->
<!--   				resultType="sjls.todotalk.user.vo.ImgVo"> -->
<!-- 		SELECT  PHOTO_NAME, USER_ID, PROFILE_PHOTO, PHOTO_ORGFILENAME, PHOTO_FILEEXT, PHOTO_SFILENAME,USER_IDX,USER_PHOTO_IDX -->
<!-- 		FROM    USER_PHOTO -->
<!-- 		WHERE   USER_ID = #{user_id} -->
		
<!--   	</select> -->
  	
<!--   	<delete id="deletephoto" -->
<!--   			parameterType="hashmap"> -->
<!--   		 	DELETE FROM USER_PHOTO 	WHERE   USER_ID = #{user_id} -->
  			
  			
  	
<!--   	</delete> -->
  	
  
</mapper>